.section__Jobs-buttonCompany {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 18px;
  height: 60px;
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:focus {
  background-color: #172a45;
}

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:active,
.section__Jobs-buttonCompany:focus {
  color: #64ffda;
  outline: 0px;
  border-left: 2px solid#64ffda;
}
